COMPLETED TF IDF MODEL

SPECS FOR EACH USECASE
https://us.dynabook.com/computers/research-center/shopping-guides/laptop-buying-guide/types-of-laptops/

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt #to visualise
import seaborn as sns

import nltk #to vectorizer
from nltk.stem import PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer #to find the similarity

### 1. DATA LOADING

In [2]:
laptop = pd.read_csv('dataset/laptops.csv')

In [3]:
laptop.dtypes

laptop_id            int64
name                object
price                int64
processor           object
ram                 object
os                  object
storage             object
img_link            object
display            float64
rating             float64
no_of_ratings      float64
no_of_reviews      float64
laptop_brand        object
os_brand            object
processor_brand     object
usecases            object
dtype: object

In [4]:
print(laptop['display'].value_counts())

laptop[laptop['display'] == 35.0]

display
15.60    416
14.00    181
13.30     41
16.00     40
16.10     26
17.30     25
13.40     15
13.60     12
11.60     10
14.10      6
14.96      5
16.20      5
15.00      3
14.20      2
17.00      2
35.00      2
14.50      1
13.50      1
16.60      1
15.30      1
12.00      1
Name: count, dtype: int64

,laptop_id,name,price,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases
472,472,DELL Vostro Core i5 11th Gen,63090,Intel Core i5 Processor (11th Gen),8 GB DDR4 RAM,64 bit Windows 10 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/k...,35.0,3.9,89.0,9.0,DELL,Windows,Intel,Business/Professional
687,687,DELL Vostro Core i3 11th Gen,43090,Intel Core i3 Processor (11th Gen),4 GB DDR4 RAM,64 bit Windows 11 Operating System,1 TB HDD|256 GB SSD,https://rukminim1.flixcart.com/image/312/312/k...,35.0,4.2,33.0,7.0,DELL,Windows,Intel,Budget Friendly

In [5]:
laptop.shape #display 796 rows and 16 column

(796, 16)

In [6]:
laptop.head(2)

,laptop_id,name,price,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases
0,0,Lenovo Intel Core i5 11th Gen,62990,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,161990,AMD Ryzen 9 Octa Core Processor,16 GB DDR5 RAM,64 bit Windows 11 Operating System,1 TB SSD,https://rukminim1.flixcart.com/image/312/312/l...,15.6,3.8,5.0,1.0,ASUS,Windows,AMD,Gaming

In [7]:
laptop.columns #based on these information, we may choose which column that needed

Index(['laptop_id', 'name', 'price', 'processor', 'ram', 'os', 'storage',
       'img_link', 'display', 'rating', 'no_of_ratings', 'no_of_reviews',
       'laptop_brand', 'os_brand', 'processor_brand', 'usecases'],
      dtype='object')

In [8]:
laptop['display'] = laptop['display'].astype(str) #convert to string

In [9]:
print(laptop.dtypes)

laptop_id            int64
name                object
price                int64
processor           object
ram                 object
os                  object
storage             object
img_link            object
display             object
rating             float64
no_of_ratings      float64
no_of_reviews      float64
laptop_brand        object
os_brand            object
processor_brand     object
usecases            object
dtype: object

In [10]:
#laptop.merge(other-df, on = 'column') #use this to merge 2 dataset

In [11]:
laptop['usecases'] = laptop['usecases'].replace(' Gaming', 'Gaming')
laptop['usecases'] = laptop['usecases'].replace(' Business/Professional', 'Office')
laptop['usecases'] = laptop['usecases'].replace(' Budget Friendly', 'Office')
laptop['usecases'] = laptop['usecases'].replace(' Home/Everyday use', 'Hybrid')
laptop['usecases'] = laptop['usecases'].replace(' Student/Education', 'Hybrid')
laptop['usecases'] = laptop['usecases'].replace(' Creative/Design', 'Hybrid')
laptop['usecases'] = laptop['usecases'].replace(' Multimedia/Entertainment', 'Hybrid')
laptop['usecases'] = laptop['usecases'].replace('Ultra-portable', 'Hybrid')

print(laptop['usecases'].value_counts())

usecases
Hybrid    302
Gaming    263
Office    231
Name: count, dtype: int64

DATA VISUALISE

In [12]:
'''
#to count the occurrences of each brand
brand_counts = laptop['laptop_brand'].value_counts()


#create the bar plot OPTIONAL
plt.figure(figsize=(10, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')
#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')

# Set labels and title
plt.xlabel('Laptop Brand', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Brand Distribution', fontsize=10, weight='bold')


# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()
'''

"\n#to count the occurrences of each brand\nbrand_counts = laptop['laptop_brand'].value_counts()\n\n\n#create the bar plot OPTIONAL\nplt.figure(figsize=(10, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')\n\n# Set labels and title\nplt.xlabel('Laptop Brand', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Brand Distribution', fontsize=10, weight='bold')\n\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()\n"

In [13]:
'''# Count the occurrences of each use case
usecase_counts = laptop['os_brand'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop OS Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()'''

"# Count the occurrences of each use case\nusecase_counts = laptop['os_brand'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop OS Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()"

In [14]:
'''# Count the occurrences of each use case
usecase_counts = laptop['usecases'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()'''

"# Count the occurrences of each use case\nusecase_counts = laptop['usecases'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()"

### 2. DATA PREPROCESSING

In [15]:
laptop.drop(columns=['no_of_ratings', 'no_of_reviews', 'rating'], inplace=True) #To drop column

In [16]:
#Checking NULL value
laptop.isnull().sum()

laptop_id          0
name               0
price              0
processor          0
ram                0
os                 0
storage            0
img_link           0
display            0
laptop_brand       0
os_brand           0
processor_brand    0
usecases           0
dtype: int64

In [17]:
laptop.shape

(796, 13)

In [18]:
laptop.dropna(inplace=True)

In [19]:
laptop.shape #total instances have been reduced

(796, 13)

In [20]:
laptop.head(1)

,laptop_id,name,price,processor,ram,os,storage,img_link,display,laptop_brand,os_brand,processor_brand,usecases
0,0,Lenovo Intel Core i5 11th Gen,62990,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,Lenovo,Windows,Intel,Office

### VISUALISATION AND ANALYSIS

In [21]:
'''#to count the occurrences of each brand
brand_counts = laptop['laptop_brand'].value_counts()


#create the bar plot OPTIONAL
plt.figure(figsize=(10, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')
#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')

# Set labels and title
plt.xlabel('Laptop Brand', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Brand Distribution', fontsize=10, weight='bold')


# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()'''

"#to count the occurrences of each brand\nbrand_counts = laptop['laptop_brand'].value_counts()\n\n\n#create the bar plot OPTIONAL\nplt.figure(figsize=(10, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')\n\n# Set labels and title\nplt.xlabel('Laptop Brand', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Brand Distribution', fontsize=10, weight='bold')\n\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()"

In [22]:
#laptop['laptop_brand'].value_counts().plot(kind='bar')

In [23]:
'''# Count the occurrences of each use case
usecase_counts = laptop['os_brand'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop OS Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()
'''

"# Count the occurrences of each use case\nusecase_counts = laptop['os_brand'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop OS Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()\n"

In [24]:
'''# Count the occurrences of each use case
usecase_counts = laptop['usecases'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()
'''

"# Count the occurrences of each use case\nusecase_counts = laptop['usecases'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()\n"

In [25]:
'''# Count the occurrences of each brand
brand_counts = laptop['usecases'].value_counts()

# Create the bar plot
plt.figure(figsize=(7, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')

# Set labels and title
plt.xlabel('Laptop Usecase', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Usecase Distribution', fontsize=10)

# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()'''

"# Count the occurrences of each brand\nbrand_counts = laptop['usecases'].value_counts()\n\n# Create the bar plot\nplt.figure(figsize=(7, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n\n# Set labels and title\nplt.xlabel('Laptop Usecase', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Usecase Distribution', fontsize=10)\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()"

In [26]:
#laptop['usecases'].value_counts().plot(kind = 'bar')

### 3. Data Transformation

In [27]:
#Price Conversion
laptop['price_rm'] = laptop['price'] * 0.055   #add one more column that price in RM

In [28]:
laptop[['price', 'price_rm']].head(2)  # Check the original and new price columns

    price  price_rm
0   62990   3464.45
1  161990   8909.45

In [29]:
laptop.dtypes

laptop_id            int64
name                object
price                int64
processor           object
ram                 object
os                  object
storage             object
img_link            object
display             object
laptop_brand        object
os_brand            object
processor_brand     object
usecases            object
price_rm           float64
dtype: object

In [30]:
laptop.drop(columns=['price'], inplace=True) #To drop column

In [31]:
new_csv = laptop[['laptop_id','img_link','name','price_rm','laptop_brand','usecases', 'processor','ram', 'os', 'storage']]

In [32]:
new_csv.shape #reduced dataset, same as laptops

(796, 10)

In [33]:
new_csv.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\3008621298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_csv.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

In [34]:
'''plt.figure(figsize=(10, 5))
sns.histplot(new_csv['price'], kde=True)  # kde=True adds a smooth line
plt.xlabel('Price')  # Label the x-axis as 'Price'
plt.title('Price Distribution of Laptops')
plt.show()'''

"plt.figure(figsize=(10, 5))\nsns.histplot(new_csv['price'], kde=True)  # kde=True adds a smooth line\nplt.xlabel('Price')  # Label the x-axis as 'Price'\nplt.title('Price Distribution of Laptops')\nplt.show()"

In [35]:
'''#display price range
sns.distplot(new_csv['price']);'''

"#display price range\nsns.distplot(new_csv['price']);"

In [36]:
'''#to get min and max laptop price
d = {"min_saleprice": [new_csv["price"].min()] ,
     "max_saleprice": [new_csv["price"].max()]
    }
min_max_price=pd.DataFrame(d)
min_max_price'''

'#to get min and max laptop price\nd = {"min_saleprice": [new_csv["price"].min()] ,\n     "max_saleprice": [new_csv["price"].max()]\n    }\nmin_max_price=pd.DataFrame(d)\nmin_max_price'

In [37]:
'''sns.barplot(x=new_csv['brand'],y=new_csv['price'],color='orange')
plt.xticks(rotation='vertical')
plt.xlabel('Laptop Brand') 
plt.ylabel('Price') 
plt.show()'''

"sns.barplot(x=new_csv['brand'],y=new_csv['price'],color='orange')\nplt.xticks(rotation='vertical')\nplt.xlabel('Laptop Brand') \nplt.ylabel('Price') \nplt.show()"

In [38]:
'''sns.barplot(x = new_csv['use'], y = new_csv['price'])
plt.xticks(rotation='vertical')
plt.show()'''

"sns.barplot(x = new_csv['use'], y = new_csv['price'])\nplt.xticks(rotation='vertical')\nplt.show()"

In [39]:
laptop['name'].value_counts().head(5)

name
DELL Core i5 12th Gen                 12
APPLE 2022 MacBook AIR M2             12
DELL Core i5 11th Gen                 10
DELL Inspiron Core i5 11th Gen         9
HP Pavilion Intel Core i5 12th Gen     6
Name: count, dtype: int64

In [40]:
laptop.head(1)

,laptop_id,name,processor,ram,os,storage,img_link,display,laptop_brand,os_brand,processor_brand,usecases,price_rm
0,0,Lenovo Intel Core i5 11th Gen,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,Lenovo,Windows,Intel,Office,3464.45

In [41]:
laptop['processor'] = laptop['processor'].apply(lambda x:x.split())
laptop['ram'] = laptop['ram'].apply(lambda x:x.split())
laptop['os'] = laptop['os'].apply(lambda x:x.split())
laptop['use'] = laptop['usecases'].apply(lambda x:x.split())
laptop['display'] = laptop['display'].apply(lambda x:x.split())

In [42]:
laptop.head(1)

,laptop_id,name,processor,ram,os,storage,img_link,display,laptop_brand,os_brand,processor_brand,usecases,price_rm,use
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],Lenovo,Windows,Intel,Office,3464.45,[Office]

In [43]:
laptop.iloc[0]['processor']

['Intel', 'Core', 'i5', 'Processor', '(11th', 'Gen)']

In [44]:
#Tag column creation
#use concatenate to merge different attributes
laptop['tags'] = laptop['processor']+laptop['ram']+laptop['os']+laptop['use']+laptop['display']

In [45]:
laptop.iloc[0]['tags']

['Intel',
 'Core',
 'i5',
 'Processor',
 '(11th',
 'Gen)',
 '16',
 'GB',
 'DDR4',
 'RAM',
 'Windows',
 '11',
 'Operating',
 'System',
 'Office',
 '15.6']

In [46]:
laptop.shape

(796, 15)

In [47]:
#new = laptop[['laptop_id','img_link','name','price_rm','laptop_brand','use','tags', 'processor','ram', 'os', 'storage']]	

rec_df = laptop[['laptop_id','name','tags', 'img_link', 'price_rm','laptop_brand','usecases', 'processor','ram', 'os', 'storage']] #create a new df and only store 3 specs/attributes

In [48]:
rec_df.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\1666404946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

In [49]:
rec_df.shape

(796, 11)

In [50]:
rec_df.head(2)

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen), 16, ...",https://rukminim1.flixcart.com/image/312/312/x...,3464.45,Lenovo,Office,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,"[AMD, Ryzen, 9, Octa, Core, Processor, 16, GB,...",https://rukminim1.flixcart.com/image/312/312/l...,8909.45,ASUS,Gaming,"[AMD, Ryzen, 9, Octa, Core, Processor]","[16, GB, DDR5, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB SSD

In [51]:
rec_df['tags'] = rec_df['tags'].apply(lambda x:" ".join(x)) #convert tags into paragraph format

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\4088501178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(lambda x:" ".join(x)) #convert tags into paragraph format

In [52]:
rec_df['tags'] = rec_df['tags'].apply(lambda x:x.lower()) #convert tags into small letter

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\2212234119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(lambda x:x.lower()) #convert tags into small letter

In [53]:
rec_df.iloc[0]['tags']

'intel core i5 processor (11th gen) 16 gb ddr4 ram windows 11 operating system office 15.6'

### 4. TF IDF

In [54]:
#use stem to reduce words in the tags column to their base or root forms. For example, "running" might be reduced to "run."
#import nltk
#from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [55]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))

    return " ".join(l)

In [56]:
rec_df['tags'] = rec_df['tags'].apply(stem)

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\3558667872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(stem)

In [57]:
#use vectorizer to vectorise the tags
#from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

#max feature means can consider 5000 frequent word
#stop word will remove word 'in', 'the, etc, word that dont have meaning

In [58]:
vector = cv.fit_transform(rec_df['tags']).toarray()

In [59]:
vector

array([[0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 1, 1, ..., 0, 0, 1],
       ...,
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 1, 1, ..., 0, 0, 1]], dtype=int64)

In [60]:
vector.shape

(796, 74)

In [61]:
'''# Get feature names (unique words) and their counts
feature_names = cv.get_feature_names_out()
word_counts = vector.sum(axis=0)  # Sum the occurrences of each word across all rows

# Convert to a DataFrame for visualization
word_freq_df = pd.DataFrame({'Word': feature_names, 'Count': word_counts.tolist()[0]})
word_freq_df = word_freq_df.sort_values(by='Count', ascending=False)

# Plot the top 15 words
plt.figure(figsize=(12, 6))
plt.bar(word_freq_df['Word'][:15], word_freq_df['Count'][:15], color='orange')
plt.title('Top 15 Words in Tags Column')
plt.xticks(rotation=45)
plt.xlabel('Words')
plt.ylabel('Frequency')
plt.show()'''

"# Get feature names (unique words) and their counts\nfeature_names = cv.get_feature_names_out()\nword_counts = vector.sum(axis=0)  # Sum the occurrences of each word across all rows\n\n# Convert to a DataFrame for visualization\nword_freq_df = pd.DataFrame({'Word': feature_names, 'Count': word_counts.tolist()[0]})\nword_freq_df = word_freq_df.sort_values(by='Count', ascending=False)\n\n# Plot the top 15 words\nplt.figure(figsize=(12, 6))\nplt.bar(word_freq_df['Word'][:15], word_freq_df['Count'][:15], color='orange')\nplt.title('Top 15 Words in Tags Column')\nplt.xticks(rotation=45)\nplt.xlabel('Words')\nplt.ylabel('Frequency')\nplt.show()"

In [62]:
'''subset = vector[:10, :10]

# Create a heatmap
plt.figure(figsize=(10, 6))
sns.heatmap(subset, annot=True, cmap="YlGnBu", xticklabels=feature_names[:10], yticklabels=range(1, 11))
plt.title('Heatmap of TF-IDF Values (First 10 Rows and Columns)')
plt.xlabel('Words')
plt.ylabel('Instances')
plt.show()'''

'subset = vector[:10, :10]\n\n# Create a heatmap\nplt.figure(figsize=(10, 6))\nsns.heatmap(subset, annot=True, cmap="YlGnBu", xticklabels=feature_names[:10], yticklabels=range(1, 11))\nplt.title(\'Heatmap of TF-IDF Values (First 10 Rows and Columns)\')\nplt.xlabel(\'Words\')\nplt.ylabel(\'Instances\')\nplt.show()'

### 5. COSINE SIMILARITY

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
similarity = cosine_similarity(vector)

In [65]:
similarity #similarity != distance

array([[1.        , 0.5809475 , 0.71004695, ..., 0.5728919 , 0.83914639,
        0.73333333],
       [0.5809475 , 1.        , 0.625     , ..., 0.69337525, 0.625     ,
        0.45184806],
       [0.71004695, 0.625     , 1.        , ..., 0.5547002 , 0.875     ,
        0.71004695],
       ...,
       [0.5728919 , 0.69337525, 0.5547002 , ..., 1.        , 0.5547002 ,
        0.64450339],
       [0.83914639, 0.625     , 0.875     , ..., 0.5547002 , 1.        ,
        0.71004695],
       [0.73333333, 0.45184806, 0.71004695, ..., 0.64450339, 0.71004695,
        1.        ]])

In [66]:
similarity.shape

(796, 796)

In [67]:
rec_df.shape

(796, 11)

In [68]:
similarity[0][0]

0.9999999999999998

In [69]:
'''plt.figure(figsize=(5, 5))  # Adjust the size to fit the data
sns.heatmap(similarity[:100, :100], cmap='coolwarm', annot=False, fmt='.2f', linewidths=0.5)

# Set title and labels
plt.title('Cosine Similarity Matrix of Laptops', fontsize=16)
plt.xlabel('Laptop Instances', fontsize=12)
plt.ylabel('Laptop Instances', fontsize=12)

# Show the plot
plt.show()'''

"plt.figure(figsize=(5, 5))  # Adjust the size to fit the data\nsns.heatmap(similarity[:100, :100], cmap='coolwarm', annot=False, fmt='.2f', linewidths=0.5)\n\n# Set title and labels\nplt.title('Cosine Similarity Matrix of Laptops', fontsize=16)\nplt.xlabel('Laptop Instances', fontsize=12)\nplt.ylabel('Laptop Instances', fontsize=12)\n\n# Show the plot\nplt.show()"

In [70]:
'''from sklearn.decomposition import PCA

# Reduce the similarity matrix to 2D
pca = PCA(n_components=2)
reduced_data = pca.fit_transform(similarity)

# Plot the reduced data
plt.scatter(reduced_data[:, 0], reduced_data[:, 1], c='blue', alpha=0.6)
plt.title('2D PCA Visualization of Cosine Similarity')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.show()
'''

"from sklearn.decomposition import PCA\n\n# Reduce the similarity matrix to 2D\npca = PCA(n_components=2)\nreduced_data = pca.fit_transform(similarity)\n\n# Plot the reduced data\nplt.scatter(reduced_data[:, 0], reduced_data[:, 1], c='blue', alpha=0.6)\nplt.title('2D PCA Visualization of Cosine Similarity')\nplt.xlabel('Principal Component 1')\nplt.ylabel('Principal Component 2')\nplt.show()\n"

### 6. RECOMMENDING FUNCTION

In [71]:
sorted(list(enumerate(similarity[1])), reverse=True, key= lambda x: x[1]) #distance between item to all items

[(1, 1.0),
 (30, 1.0),
 (97, 1.0),
 (336, 1.0),
 (341, 1.0),
 (384, 1.0),
 (429, 1.0),
 (666, 1.0),
 (726, 1.0),
 (669, 0.9682458365518538),
 (287, 0.9428090415820631),
 (317, 0.9428090415820631),
 (414, 0.9428090415820631),
 (478, 0.9428090415820631),
 (608, 0.9428090415820631),
 (624, 0.9428090415820631),
 (72, 0.9375),
 (83, 0.9375),
 (90, 0.9375),
 (142, 0.9375),
 (158, 0.9375),
 (161, 0.9375),
 (166, 0.9375),
 (219, 0.9375),
 (238, 0.9375),
 (256, 0.9375),
 (322, 0.9375),
 (325, 0.9375),
 (357, 0.9375),
 (364, 0.9375),
 (379, 0.9375),
 (590, 0.9375),
 (754, 0.9375),
 (772, 0.9375),
 (775, 0.9375),
 (231, 0.9354143466934851),
 (295, 0.9354143466934851),
 (345, 0.9354143466934851),
 (420, 0.9354143466934851),
 (494, 0.9354143466934851),
 (633, 0.9354143466934851),
 (709, 0.9354143466934851),
 (718, 0.9354143466934851),
 (50, 0.9036961141150636),
 (100, 0.9036961141150636),
 (164, 0.9036961141150636),
 (217, 0.9036961141150636),
 (243, 0.9036961141150636),
 (302, 0.9036961141150636),
 (444, 0.9036961141150636),
 (215, 0.8838834764831842),
 (235, 0.8838834764831842),
 (244, 0.8838834764831842),
 (461, 0.8838834764831842),
 (474, 0.8838834764831842),
 (619, 0.8838834764831842),
 (31, 0.875),
 (95, 0.875),
 (99, 0.875),
 (115, 0.875),
 (130, 0.875),
 (218, 0.875),
 (249, 0.875),
 (263, 0.875),
 (292, 0.875),
 (346, 0.875),
 (371, 0.875),
 (410, 0.875),
 (448, 0.875),
 (462, 0.875),
 (473, 0.875),
 (512, 0.875),
 (517, 0.875),
 (533, 0.875),
 (568, 0.875),
 (606, 0.875),
 (617, 0.875),
 (446, 0.868599036215379),
 (502, 0.868599036215379),
 (660, 0.868599036215379),
 (770, 0.868599036215379),
 (54, 0.8391463916782733),
 (58, 0.8391463916782733),
 (197, 0.8391463916782733),
 (221, 0.8391463916782733),
 (245, 0.8391463916782733),
 (274, 0.8391463916782733),
 (278, 0.8391463916782733),
 (284, 0.8391463916782733),
 (315, 0.8391463916782733),
 (440, 0.8391463916782733),
 (503, 0.8391463916782733),
 (505, 0.8391463916782733),
 (522, 0.8391463916782733),
 (554, 0.8391463916782733),
 (584, 0.8391463916782733),
 (603, 0.8391463916782733),
 (703, 0.8391463916782733),
 (279, 0.8249579113843053),
 (541, 0.8249579113843053),
 (773, 0.8249579113843053),
 (15, 0.8125),
 (124, 0.8125),
 (148, 0.8125),
 (162, 0.8125),
 (227, 0.8125),
 (342, 0.8125),
 (348, 0.8125),
 (374, 0.8125),
 (387, 0.8125),
 (450, 0.8125),
 (507, 0.8125),
 (601, 0.8125),
 (653, 0.8125),
 (731, 0.8125),
 (75, 0.801783725737273),
 (193, 0.801783725737273),
 (199, 0.801783725737273),
 (234, 0.801783725737273),
 (436, 0.801783725737273),
 (441, 0.801783725737273),
 (510, 0.801783725737273),
 (107, 0.7882407813680824),
 (192, 0.7882407813680824),
 (194, 0.7882407813680824),
 (298, 0.7882407813680824),
 (314, 0.7882407813680824),
 (319, 0.7882407813680824),
 (372, 0.7882407813680824),
 (424, 0.7882407813680824),
 (595, 0.7882407813680824),
 (632, 0.7882407813680824),
 (737, 0.7882407813680824),
 (627, 0.7826237921249266),
 (8, 0.7745966692414831),
 (16, 0.7745966692414831),
 (21, 0.7745966692414831),
 (27, 0.7745966692414831),
 (71, 0.7745966692414831),
 (133, 0.7745966692414831),
 (144, 0.7745966692414831),
 (156, 0.7745966692414831),
 (165, 0.7745966692414831),
 (178, 0.7745966692414831),
 (206, 0.7745966692414831),
 (208, 0.7745966692414831),
 (210, 0.7745966692414831),
 (280, 0.7745966692414831),
 (283, 0.7745966692414831),
 (288, 0.7745966692414831),
 (333, 0.7745966692414831),
 (366, 0.7745966692414831),
 (376, 0.7745966692414831),
 (377, 0.7745966692414831),
 (378, 0.7745966692414831),
 (383, 0.7745966692414831),
 (399, 0.7745966692414831),
 (432, 0.7745966692414831),
 (456, 0.7745966692414831),
 (489, 0.7745966692414831),
 (501, 0.7745966692414831),
 (508, 0.7745966692414831),
 (519, 0.7745966692414831),
 (528, 0.7745966692414831),
 (563, 0.7745966692414831),
 (599, 0.7745966692414831),
 (607, 0.7745966692414831),
 (611, 0.7745966692414831),
 (612, 0.7745966692414831),
 (615, 0.7745966692414831),
 (621, 0.7745966692414831),
 (649, 0.7745966692414831),
 (654, 0.7745966692414831),
 (659, 0.7745966692414831),
 (664, 0.7745966692414831),
 (767, 0.7745966692414831),
 (774, 0.7745966692414831),
 (66, 0.7660323462854264),
 (184, 0.7660323462854264),
 (506, 0.7627127698096903),
 (594, 0.7627127698096903),
 (711, 0.7627127698096903),
 (94, 0.75),
 (119, 0.75),
 (146, 0.75),
 (152, 0.75),
 (173, 0.75),
 (312, 0.75),
 (497, 0.75),
 (516, 0.75),
 (581, 0.75),
 (600, 0.75),
 (616, 0.75),
 (629, 0.75),
 (637, 0.75),
 (753, 0.75),
 (188, 0.7456011350793256),
 (306, 0.7456011350793256),
 (350, 0.7456011350793256),
 (362, 0.7456011350793256),
 (481, 0.7456011350793256),
 (681, 0.7349684152591669),
 (39, 0.7276068751089991),
 (120, 0.7276068751089991),
 (153, 0.7276068751089991),
 (155, 0.7276068751089991),
 (200, 0.7276068751089991),
 (203, 0.7276068751089991),
 (213, 0.7276068751089991),
 (228, 0.7276068751089991),
 (233, 0.7276068751089991),
 (267, 0.7276068751089991),
 (309, 0.7276068751089991),
 (313, 0.7276068751089991),
 (328, 0.7276068751089991),
 (380, 0.7276068751089991),
 (395, 0.7276068751089991),
 (425, 0.7276068751089991),
 (525, 0.7276068751089991),
 (532, 0.7276068751089991),
 (569, 0.7276068751089991),
 (579, 0.7276068751089991),
 (587, 0.7276068751089991),
 (598, 0.7276068751089991),
 (641, 0.7276068751089991),
 (668, 0.7276068751089991),
 (693, 0.7276068751089991),
 (743, 0.7276068751089991),
 (780, 0.7276068751089991),
 (787, 0.7276068751089991),
 (26, 0.7100469468046928),
 (35, 0.7100469468046928),
 (68, 0.7100469468046928),
 (80, 0.7100469468046928),
 (159, 0.7100469468046928),
 (160, 0.7100469468046928),
 (167, 0.7100469468046928),
 (190, 0.7100469468046928),
 (191, 0.7100469468046928),
 (222, 0.7100469468046928),
 (262, 0.7100469468046928),
 (264, 0.7100469468046928),
 (276, 0.7100469468046928),
 (282, 0.7100469468046928),
 (338, 0.7100469468046928),
 (442, 0.7100469468046928),
 (534, 0.7100469468046928),
 (546, 0.7100469468046928),
 (573, 0.7100469468046928),
 (591, 0.7100469468046928),
 (665, 0.7100469468046928),
 (704, 0.7100469468046928),
 (752, 0.7100469468046928),
 (783, 0.7100469468046928),
 (428, 0.7071067811865475),
 (490, 0.7071067811865475),
 (223, 0.6933752452815366),
 (394, 0.6933752452815366),
 (491, 0.6933752452815366),
 (500, 0.6933752452815366),
 (570, 0.6933752452815366),
 (751, 0.6933752452815366),
 (782, 0.6933752452815366),
 (793, 0.6933752452815365),
 (82, 0.6882472016116852),
 (451, 0.6882472016116852),
 (676, 0.6882472016116852),
 (147, 0.6875),
 (187, 0.6875),
 (255, 0.6875),
 (257, 0.6875),
 (261, 0.6875),
 (402, 0.6875),
 (435, 0.6875),
 (464, 0.6875),
 (523, 0.6875),
 (530, 0.6875),
 (663, 0.6875),
 (674, 0.6875),
 (675, 0.6875),
 (785, 0.6875),
 (70, 0.6681531047810608),
 (78, 0.6681531047810608),
 (722, 0.6681531047810608),
 (45, 0.6669729688499159),
 (55, 0.6669729688499159),
 (57, 0.6669729688499159),
 (84, 0.6669729688499159),
 (102, 0.6669729688499159),
 (104, 0.6669729688499159),
 (105, 0.6669729688499159),
 (117, 0.6669729688499159),
 (123, 0.6669729688499159),
 (129, 0.6669729688499159),
 (137, 0.6669729688499159),
 (140, 0.6669729688499159),
 (168, 0.6669729688499159),
 (169, 0.6669729688499159),
 (172, 0.6669729688499159),
 (175, 0.6669729688499159),
 (180, 0.6669729688499159),
 (183, 0.6669729688499159),
 (185, 0.6669729688499159),
 (189, 0.6669729688499159),
 (196, 0.6669729688499159),
 (201, 0.6669729688499159),
 (214, 0.6669729688499159),
 (251, 0.6669729688499159),
 (259, 0.6669729688499159),
 (266, 0.6669729688499159),
 (271, 0.6669729688499159),
 (293, 0.6669729688499159),
 (296, 0.6669729688499159),
 (311, 0.6669729688499159),
 (318, 0.6669729688499159),
 (331, 0.6669729688499159),
 (340, 0.6669729688499159),
 (351, 0.6669729688499159),
 (352, 0.6669729688499159),
 (359, 0.6669729688499159),
 (360, 0.6669729688499159),
 (373, 0.6669729688499159),
 (388, 0.6669729688499159),
 (418, 0.6669729688499159),
 (430, 0.6669729688499159),
 (437, 0.6669729688499159),
 (439, 0.6669729688499159),
 (443, 0.6669729688499159),
 (524, 0.6669729688499159),
 (555, 0.6669729688499159),
 (556, 0.6669729688499159),
 (602, 0.6669729688499159),
 (651, 0.6669729688499159),
 (658, 0.6669729688499159),
 (678, 0.6669729688499159),
 (682, 0.6669729688499159),
 (695, 0.6669729688499159),
 (715, 0.6669729688499159),
 (732, 0.6669729688499159),
 (789, 0.6669729688499159),
 (411, 0.6481812160876685),
 (416, 0.6481812160876685),
 (24, 0.6454972243679026),
 (44, 0.6454972243679026),
 (65, 0.6454972243679026),
 (127, 0.6454972243679026),
 (224, 0.6454972243679026),
 (272, 0.6454972243679026),
 (337, 0.6454972243679026),
 (403, 0.6454972243679026),
 (409, 0.6454972243679026),
 (422, 0.6454972243679026),
 (452, 0.6454972243679026),
 (460, 0.6454972243679026),
 (526, 0.6454972243679026),
 (540, 0.6454972243679026),
 (544, 0.6454972243679026),
 (577, 0.6454972243679026),
 (642, 0.6454972243679026),
 (686, 0.6454972243679026),
 (728, 0.6454972243679026),
 (108, 0.6308932681440448),
 (326, 0.6308932681440448),
 (438, 0.6308932681440448),
 (477, 0.6308932681440448),
 (514, 0.6308932681440448),
 (518, 0.6308932681440448),
 (583, 0.6308932681440448),
 (723, 0.6308932681440448),
 (2, 0.625),
 (6, 0.625),
 (10, 0.625),
 (19, 0.625),
 (20, 0.625),
 (25, 0.625),
 (28, 0.625),
 (32, 0.625),
 (33, 0.625),
 (37, 0.625),
 (41, 0.625),
 (43, 0.625),
 (47, 0.625),
 (73, 0.625),
 (74, 0.625),
 (81, 0.625),
 (103, 0.625),
 (106, 0.625),
 (118, 0.625),
 (134, 0.625),
 (135, 0.625),
 (141, 0.625),
 (151, 0.625),
 (154, 0.625),
 (182, 0.625),
 (195, 0.625),
 (204, 0.625),
 (207, 0.625),
 (212, 0.625),
 (232, 0.625),
 (239, 0.625),
 (241, 0.625),
 (242, 0.625),
 (285, 0.625),
 (286, 0.625),
 (304, 0.625),
 (307, 0.625),
 (320, 0.625),
 (321, 0.625),
 (327, 0.625),
 (349, 0.625),
 (354, 0.625),
 (358, 0.625),
 (370, 0.625),
 (385, 0.625),
 (396, 0.625),
 (401, 0.625),
 (407, 0.625),
 (426, 0.625),
 (434, 0.625),
 (445, 0.625),
 (449, 0.625),
 (457, 0.625),
 (465, 0.625),
 (468, 0.625),
 (476, 0.625),
 (480, 0.625),
 (482, 0.625),
 (509, 0.625),
 (513, 0.625),
 (520, 0.625),
 (550, 0.625),
 (553, 0.625),
 (566, 0.625),
 (571, 0.625),
 (614, 0.625),
 (635, 0.625),
 (645, 0.625),
 (652, 0.625),
 (661, 0.625),
 (670, 0.625),
 (683, 0.625),
 (684, 0.625),
 (685, 0.625),
 (689, 0.625),
 (700, 0.625),
 (706, 0.625),
 (707, 0.625),
 (708, 0.625),
 (724, 0.625),
 (725, 0.625),
 (738, 0.625),
 (740, 0.625),
 (748, 0.625),
 (755, 0.625),
 (756, 0.625),
 (757, 0.625),
 (766, 0.625),
 (776, 0.625),
 (778, 0.625),
 (790, 0.625),
 (794, 0.625),
 (463, 0.6240377207533829),
 (9, 0.6063390625908326),
 (17, 0.6063390625908326),
 (40, 0.6063390625908326),
 (69, 0.6063390625908326),
 (89, 0.6063390625908326),
 (98, 0.6063390625908326),
 (111, 0.6063390625908326),
 (113, 0.6063390625908326),
 (205, 0.6063390625908326),
 (211, 0.6063390625908326),
 (229, 0.6063390625908326),
 (237, 0.6063390625908326),
 (247, 0.6063390625908326),
 (270, 0.6063390625908326),
 (275, 0.6063390625908326),
 (281, 0.6063390625908326),
 (303, 0.6063390625908326),
 (305, 0.6063390625908326),
 (369, 0.6063390625908326),
 (382, 0.6063390625908326),
 (393, 0.6063390625908326),
 (413, 0.6063390625908326),
 (493, 0.6063390625908326),
 (496, 0.6063390625908326),
 (529, 0.6063390625908326),
 (552, 0.6063390625908326),
 (562, 0.6063390625908326),
 (565, 0.6063390625908326),
 (596, 0.6063390625908326),
 (623, 0.6063390625908326),
 (638, 0.6063390625908326),
 (646, 0.6063390625908326),
 (648, 0.6063390625908326),
 (657, 0.6063390625908326),
 (694, 0.6063390625908326),
 (696, 0.6063390625908326),
 (714, 0.6063390625908326),
 (742, 0.6063390625908326),
 (750, 0.6063390625908326),
 (759, 0.6063390625908326),
 (788, 0.6063390625908326),
 (791, 0.6063390625908326),
 (122, 0.6013377943029548),
 (138, 0.6013377943029548),
 (471, 0.6013377943029548),
 (535, 0.6013377943029548),
 (542, 0.6013377943029548),
 (545, 0.6013377943029548),
 (0, 0.5809475019311123),
 (5, 0.5809475019311123),
 (11, 0.5809475019311123),
 (29, 0.5809475019311123),
 (61, 0.5809475019311123),
 (109, 0.5809475019311123),
 (131, 0.5809475019311123),
 (145, 0.5809475019311123),
 (181, 0.5809475019311123),
 (220, 0.5809475019311123),
 (258, 0.5809475019311123),
 (277, 0.5809475019311123),
 (297, 0.5809475019311123),
 (316, 0.5809475019311123),
 (343, 0.5809475019311123),
 (406, 0.5809475019311123),
 (415, 0.5809475019311123),
 (527, 0.5809475019311123),
 (538, 0.5809475019311123),
 (589, 0.5809475019311123),
 (631, 0.5809475019311123),
 (650, 0.5809475019311123),
 (688, 0.5809475019311123),
 (697, 0.5809475019311123),
 (720, 0.5809475019311123),
 (745, 0.5809475019311123),
 (749, 0.5809475019311123),
 (784, 0.5809475019311123),
 (386, 0.5735393346764044),
 (14, 0.5625),
 (22, 0.5625),
 (36, 0.5625),
 (46, 0.5625),
 (51, 0.5625),
 (52, 0.5625),
 (60, 0.5625),
 (64, 0.5625),
 (67, 0.5625),
 (77, 0.5625),
 (91, 0.5625),
 (92, 0.5625),
 (112, 0.5625),
 (128, 0.5625),
 (176, 0.5625),
 (177, 0.5625),
 (250, 0.5625),
 (252, 0.5625),
 (268, 0.5625),
 (269, 0.5625),
 (308, 0.5625),
 (310, 0.5625),
 (323, 0.5625),
 (324, 0.5625),
 (329, 0.5625),
 (335, 0.5625),
 (339, 0.5625),
 (361, 0.5625),
 (381, 0.5625),
 (389, 0.5625),
 (391, 0.5625),
 (398, 0.5625),
 (404, 0.5625),
 (408, 0.5625),
 (419, 0.5625),
 (454, 0.5625),
 (455, 0.5625),
 (458, 0.5625),
 (467, 0.5625),
 (470, 0.5625),
 (484, 0.5625),
 (537, 0.5625),
 (551, 0.5625),
 (557, 0.5625),
 (559, 0.5625),
 (560, 0.5625),
 (580, 0.5625),
 (582, 0.5625),
 (593, 0.5625),
 (610, 0.5625),
 (613, 0.5625),
 (618, 0.5625),
 (622, 0.5625),
 (643, 0.5625),
 (656, 0.5625),
 (687, 0.5625),
 (691, 0.5625),
 (699, 0.5625),
 (705, 0.5625),
 (712, 0.5625),
 (719, 0.5625),
 (721, 0.5625),
 (777, 0.5625),
 (549, 0.5547001962252293),
 (729, 0.5547001962252293),
 (300, 0.5457051563317493),
 (365, 0.5457051563317493),
 (423, 0.5457051563317493),
 (447, 0.5457051563317493),
 (483, 0.5457051563317493),
 (492, 0.5457051563317493),
 (531, 0.5457051563317493),
 (585, 0.5457051563317493),
 (586, 0.5457051563317493),
 (605, 0.5457051563317493),
 (673, 0.5457051563317493),
 (677, 0.5457051563317493),
 (713, 0.5457051563317493),
 (746, 0.5457051563317493),
 (747, 0.5457051563317493),
 (762, 0.5457051563317493),
 (764, 0.5457051563317493),
 (769, 0.5457051563317493),
 (786, 0.5457051563317493),
 (7, 0.5345224838248487),
 (12, 0.5345224838248487),
 (42, 0.5345224838248487),
 (53, 0.5345224838248487),
 (59, 0.5345224838248487),
 (79, 0.5345224838248487),
 (116, 0.5345224838248487),
 (126, 0.5345224838248487),
 (136, 0.5345224838248487),
 (216, 0.5345224838248487),
 (225, 0.5345224838248487),
 (265, 0.5345224838248487),
 (291, 0.5345224838248487),
 (344, 0.5345224838248487),
 (368, 0.5345224838248487),
 (427, 0.5345224838248487),
 (433, 0.5345224838248487),
 (466, 0.5345224838248487),
 (469, 0.5345224838248487),
 (479, 0.5345224838248487),
 (485, 0.5345224838248487),
 (511, 0.5345224838248487),
 (521, 0.5345224838248487),
 (558, 0.5345224838248487),
 (575, 0.5345224838248487),
 (576, 0.5345224838248487),
 (604, 0.5345224838248487),
 (609, 0.5345224838248487),
 (620, 0.5345224838248487),
 (639, 0.5345224838248487),
 (644, 0.5345224838248487),
 (655, 0.5345224838248487),
 (662, 0.5345224838248487),
 (667, 0.5345224838248487),
 (672, 0.5345224838248487),
 (679, 0.5345224838248487),
 (765, 0.5345224838248487),
 (76, 0.5163977794943221),
 (85, 0.5163977794943221),
 (93, 0.5163977794943221),
 (96, 0.5163977794943221),
 (139, 0.5163977794943221),
 (171, 0.5163977794943221),
 (174, 0.5163977794943221),
 (253, 0.5163977794943221),
 (254, 0.5163977794943221),
 (294, 0.5163977794943221),
 (353, 0.5163977794943221),
 (488, 0.5163977794943221),
 (499, 0.5163977794943221),
 (561, 0.5163977794943221),
 (636, 0.5163977794943221),
 (736, 0.5163977794943221),
 (781, 0.5163977794943221),
 (630, 0.5051814855409226),
 (13, 0.5),
 (38, 0.5),
 (110, 0.5),
 (143, 0.5),
 (149, 0.5),
 (230, 0.5),
 (330, 0.5),
 (347, 0.5),
 (356, 0.5),
 (363, 0.5),
 (392, 0.5),
 (412, 0.5),
 (453, 0.5),
 (459, 0.5),
 (472, 0.5),
 (487, 0.5),
 (495, 0.5),
 (498, 0.5),
 (504, 0.5),
 (536, 0.5),
 (572, 0.5),
 (578, 0.5),
 (592, 0.5),
 (625, 0.5),
 (626, 0.5),
 (628, 0.5),
 (634, 0.5),
 (640, 0.5),
 (647, 0.5),
 (680, 0.5),
 (701, 0.5),
 (727, 0.5),
 (730, 0.5),
 (758, 0.5),
 (760, 0.5),
 (761, 0.5),
 (763, 0.5),
 (768, 0.5),
 (771, 0.5),
 (597, 0.4853626716970756),
 (717, 0.4853626716970756),
 (792, 0.4853626716970755),
 (431, 0.48507125007266605),
 (716, 0.48507125007266605),
 (735, 0.48507125007266605),
 (23, 0.4677071733467426),
 (114, 0.4677071733467426),
 (132, 0.4677071733467426),
 (246, 0.4677071733467426),
 (301, 0.4677071733467426),
 (334, 0.4677071733467426),
 (475, 0.4677071733467426),
 (515, 0.4677071733467426),
 (574, 0.4677071733467426),
 (588, 0.4677071733467426),
 (690, 0.4677071733467426),
 (710, 0.4677071733467426),
 (733, 0.4677071733467426),
 (734, 0.4677071733467426),
 (741, 0.4677071733467426),
 (744, 0.4677071733467426),
 (3, 0.4522670168666455),
 (260, 0.4522670168666455),
 (795, 0.45184805705753195),
 (49, 0.45184805705753184),
 (202, 0.45184805705753184),
 (739, 0.45184805705753184),
 (62, 0.43301270189221935),
 (63, 0.43301270189221935),
 (564, 0.43301270189221935),
 (567, 0.43301270189221935),
 (692, 0.43301270189221935),
 (698, 0.43301270189221935),
 (779, 0.43301270189221935),
 (34, 0.4160251471689219),
 (421, 0.40089186286863654),
 (702, 0.40089186286863654),
 (209, 0.375),
 (290, 0.375),
 (367, 0.375),
 (486, 0.375),
 (101, 0.36084391824351614),
 (121, 0.36084391824351614),
 (170, 0.36084391824351614),
 (186, 0.36084391824351614),
 (397, 0.36084391824351614),
 (539, 0.36084391824351614),
 (547, 0.36084391824351614),
 (548, 0.36084391824351614),
 (226, 0.34668762264076824),
 (289, 0.34668762264076824),
 (299, 0.34668762264076824),
 (375, 0.34668762264076824),
 (125, 0.33407655239053047),
 (150, 0.33407655239053047),
 (157, 0.33407655239053047),
 (332, 0.33407655239053047),
 (355, 0.33407655239053047),
 (400, 0.33407655239053047),
 (405, 0.33407655239053047),
 (671, 0.33407655239053047),
 (4, 0.30151134457776363),
 (18, 0.30151134457776363),
 (56, 0.30151134457776363),
 (179, 0.30151134457776363),
 (198, 0.30151134457776363),
 (240, 0.30151134457776363),
 (248, 0.30151134457776363),
 (273, 0.30151134457776363),
 (543, 0.30151134457776363),
 (48, 0.2886751345948129),
 (86, 0.2886751345948129),
 (87, 0.2886751345948129),
 (88, 0.2886751345948129),
 (163, 0.2886751345948129),
 (236, 0.2886751345948129),
 (390, 0.2886751345948129),
 (417, 0.2886751345948129)]

In [72]:
rec_df[rec_df['name'] == 'MSI GF63 Thin Core i7 9th Gen'] #we get the index for the specific laptop

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
724,724,MSI GF63 Thin Core i7 9th Gen,intel core i7 processor (9th gen) 8 gb ddr4 ra...,https://rukminim1.flixcart.com/image/312/312/k...,3684.45,MSI,Gaming,"[Intel, Core, i7, Processor, (9th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 10, Operating, System]",512 GB SSD

In [73]:
rec_df[rec_df['name'] == 'MSI GF63 Thin Core i7 9th Gen'].index[0] #we get the index for the specific laptop

724

In [74]:
rec_df.head(4)

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
0,0,Lenovo Intel Core i5 11th Gen,intel core i5 processor (11th gen) 16 gb ddr4 ...,https://rukminim1.flixcart.com/image/312/312/x...,3464.45,Lenovo,Office,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,amd ryzen 9 octa core processor 16 gb ddr5 ram...,https://rukminim1.flixcart.com/image/312/312/l...,8909.45,ASUS,Gaming,"[AMD, Ryzen, 9, Octa, Core, Processor]","[16, GB, DDR5, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB SSD
2,2,ASUS VivoBook 15 (2022) Core i3 10th Gen,intel core i3 processor (10th gen) 8 gb ddr4 r...,https://rukminim1.flixcart.com/image/312/312/x...,1869.45,ASUS,Hybrid,"[Intel, Core, i3, Processor, (10th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 11, Operating, System]",512 GB SSD
3,3,Lenovo Athlon Dual Core,amd athlon dual core processor 4 gb ddr4 ram d...,https://rukminim1.flixcart.com/image/312/312/x...,1044.45,Lenovo,Office,"[AMD, Athlon, Dual, Core, Processor]","[4, GB, DDR4, RAM]","[DOS, Operating, System]",256 GB SSD

In [75]:
''' From github
def recommend(use):
    index = rec_df[rec_df['name'] == use].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    printed_names = set()
    #display top 5
    for i in distances[1:6]: #iterates 1 to 5, excluding 6
        row_index = i[0]
        name = rec_df.iloc[row_index]['name']
        if name not in printed_names:
            printed_names.add(name)
            print(name)
'''

" From github\ndef recommend(use):\n    index = rec_df[rec_df['name'] == use].index[0]\n    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])\n    printed_names = set()\n    #display top 5\n    for i in distances[1:6]: #iterates 1 to 5, excluding 6\n        row_index = i[0]\n        name = rec_df.iloc[row_index]['name']\n        if name not in printed_names:\n            printed_names.add(name)\n            print(name)\n"

In [76]:
#create Recommend Function 1 (CHOOSE THIS FOR STREAMLIT)
'''
def recommend(x):
    index = rec_df[rec_df['name'] == x].index[0]  # Find the index of the input laptop
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda x: x[1])  # Sort the similarities
    print(f"Laptops similar to '{x}':")
    for i in distance[1:6]:
        laptop = rec_df.iloc[i[0]]  #get the laptop information
        similarity_score = i[1]  #get the similarity score
        print(f"{laptop['name']} | Similarity Score: {similarity_score:.2f} | Image Link: {laptop['img_link']}")
'''

'\ndef recommend(x):\n    index = rec_df[rec_df[\'name\'] == x].index[0]  # Find the index of the input laptop\n    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda x: x[1])  # Sort the similarities\n    print(f"Laptops similar to \'{x}\':")\n    for i in distance[1:6]:\n        laptop = rec_df.iloc[i[0]]  #get the laptop information\n        similarity_score = i[1]  #get the similarity score\n        print(f"{laptop[\'name\']} | Similarity Score: {similarity_score:.2f} | Image Link: {laptop[\'img_link\']}")\n'

In [77]:
#Recommend Function 2
rec_df.reset_index(drop=True, inplace=True) # Reset the index to align with the similarity matrix
def recommend(x):
    # Check if the input exists in the database
    if x not in rec_df['name'].values:
        print(f"Laptop '{x}' is not found in the database.")
        return

    # Get the index of the laptop model of the input
    index = rec_df[rec_df['name'] == x].index[0]

    # Ensure the index is within bounds
    if index >= len(similarity):
        print("Error: The index is out of bounds for the similarity matrix.")
        return

    # Sort laptops by similarity, retrieving similarity scores
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    printed_names = set()
    print(f"Laptops similar to '{x}':")

    # Display recommendations
    for i in distances[1:]:
        name = rec_df.iloc[i[0]]['name']
        similarity_score = i[1]

        # Check to ensure that the input is excluded as recommendations
        if name != x and name not in printed_names:
            printed_names.add(name)
            print(f"{name} (Similarity Score: {similarity_score:.2f})")
        if len(printed_names) == 5:
            break

7. TESTING

In [78]:
recommend('Lenovo Intel Core i5 11th Gen')

Laptops similar to 'Lenovo Intel Core i5 11th Gen':
RedmiBook Pro Core i5 11th Gen (Similarity Score: 0.97)
ASUS Vivobook 15 Touch Core i5 11th Gen (Similarity Score: 0.97)
Lenovo IdeaPad Core i5 11th Gen (Similarity Score: 0.97)
DELL Core i5 11th Gen (Similarity Score: 0.97)
ASUS VivoBook K15 OLED (2022) Core i5 11th Gen (Similarity Score: 0.94)

In [79]:
laptop[laptop['name'] == 'Lenovo Intel Core i5 11th Gen']

,laptop_id,name,processor,ram,os,storage,img_link,display,laptop_brand,os_brand,processor_brand,usecases,price_rm,use,tags
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],Lenovo,Windows,Intel,Office,3464.45,[Office],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."
29,29,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],Lenovo,Windows,Intel,Office,2908.95,[Office],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."
182,182,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB HDD|256 GB SSD,https://rukminim1.flixcart.com/image/312/312/k...,[15.6],Lenovo,Windows,Intel,Hybrid,3574.45,[Hybrid],"[Intel, Core, i5, Processor, (11th, Gen), 8, G..."
697,697,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],Lenovo,Windows,Intel,Office,3755.95,[Office],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."

In [80]:
rec_df['ram'] = new_csv['ram']
rec_df['processor'] = new_csv['processor']
rec_df['os'] = new_csv['os']

C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\1203269833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['ram'] = new_csv['ram']
C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\1203269833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['processor'] = new_csv['processor']
C:\Users\aiman\AppData\Local\Temp\ipykernel_21468\1203269833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['os'] = new_csv['os']

In [81]:
rec_df.head(1)

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
0,0,Lenovo Intel Core i5 11th Gen,intel core i5 processor (11th gen) 16 gb ddr4 ...,https://rukminim1.flixcart.com/image/312/312/x...,3464.45,Lenovo,Office,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD

In [82]:
import pickle

pickle.dump(rec_df, open('model/laptop_list.pkl', 'wb'))
pickle.dump(similarity, open('model/similarity.pkl', 'wb'))
new_csv.to_csv('model/update_laptop.csv', sep=',', index=False, encoding='utf-8')
pickle.dump(laptop, open('model/analysis.pkl', 'wb'))

In [83]:
print(laptop.shape)
print(new_csv.shape)
print(rec_df.shape)

(796, 15)
(796, 10)
(796, 11)