In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt #to visualise
import seaborn as sns

import nltk #to vectorizer
from nltk.stem import PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer #to find the similarity

1. DATA LOADING

In [2]:
laptop = pd.read_csv('dataset/laptops.csv')

In [3]:
laptop[['usecases']].head()

                    usecases
0      Business/Professional
1                     Gaming
2          Home/Everyday use
3            Budget Friendly
4   Multimedia/Entertainment

In [4]:
laptop.shape #display 796 rows and 16 column

(796, 16)

In [5]:
laptop.head(2)

,laptop_id,name,price,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases
0,0,Lenovo Intel Core i5 11th Gen,62990,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,161990,AMD Ryzen 9 Octa Core Processor,16 GB DDR5 RAM,64 bit Windows 11 Operating System,1 TB SSD,https://rukminim1.flixcart.com/image/312/312/l...,15.6,3.8,5.0,1.0,ASUS,Windows,AMD,Gaming

In [6]:
laptop.columns #based on these information, we may choose which column that needed

Index(['laptop_id', 'name', 'price', 'processor', 'ram', 'os', 'storage',
       'img_link', 'display', 'rating', 'no_of_ratings', 'no_of_reviews',
       'laptop_brand', 'os_brand', 'processor_brand', 'usecases'],
      dtype='object')

In [7]:
laptop['display'] = laptop['display'].astype(str) #convert to string

In [8]:
print(laptop.dtypes)

laptop_id            int64
name                object
price                int64
processor           object
ram                 object
os                  object
storage             object
img_link            object
display             object
rating             float64
no_of_ratings      float64
no_of_reviews      float64
laptop_brand        object
os_brand            object
processor_brand     object
usecases            object
dtype: object

In [9]:
#laptop.merge(other-df, on = 'column') #use this to merge 2 dataset

DATA VISUALISE

In [10]:
'''
#to count the occurrences of each brand
brand_counts = laptop['laptop_brand'].value_counts()


#create the bar plot OPTIONAL
plt.figure(figsize=(10, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')
#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')

# Set labels and title
plt.xlabel('Laptop Brand', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Brand Distribution', fontsize=10, weight='bold')


# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()
'''

"\n#to count the occurrences of each brand\nbrand_counts = laptop['laptop_brand'].value_counts()\n\n\n#create the bar plot OPTIONAL\nplt.figure(figsize=(10, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')\n\n# Set labels and title\nplt.xlabel('Laptop Brand', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Brand Distribution', fontsize=10, weight='bold')\n\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()\n"

In [11]:
'''# Count the occurrences of each use case
usecase_counts = laptop['os_brand'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop OS Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()'''

"# Count the occurrences of each use case\nusecase_counts = laptop['os_brand'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop OS Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()"

In [12]:
'''# Count the occurrences of each use case
usecase_counts = laptop['usecases'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()'''

"# Count the occurrences of each use case\nusecase_counts = laptop['usecases'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()"

2. DATA PREPROCESSING

In [13]:
#Checking NULL value
laptop.isnull().sum()

laptop_id            0
name                 0
price                0
processor            0
ram                  0
os                   0
storage              0
img_link             0
display              0
rating             266
no_of_ratings      266
no_of_reviews      266
laptop_brand         0
os_brand             0
processor_brand      0
usecases             0
dtype: int64

In [14]:
laptop.shape

(796, 16)

In [15]:
laptop.dropna(inplace=True)

In [16]:
laptop.shape #total instances have been reduced

(530, 16)

In [17]:
laptop.head(1)

,laptop_id,name,price,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases
0,0,Lenovo Intel Core i5 11th Gen,62990,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional

VISUALISATION AND ANALYSIS

In [18]:
'''#to count the occurrences of each brand
brand_counts = laptop['laptop_brand'].value_counts()


#create the bar plot OPTIONAL
plt.figure(figsize=(10, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')
#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')

# Set labels and title
plt.xlabel('Laptop Brand', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Brand Distribution', fontsize=10, weight='bold')


# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()'''

"#to count the occurrences of each brand\nbrand_counts = laptop['laptop_brand'].value_counts()\n\n\n#create the bar plot OPTIONAL\nplt.figure(figsize=(10, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n#ax = brand_counts.plot(kind='bar', color='blue', edgecolor='black')\n\n# Set labels and title\nplt.xlabel('Laptop Brand', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Brand Distribution', fontsize=10, weight='bold')\n\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()"

In [19]:
#laptop['laptop_brand'].value_counts().plot(kind='bar')

In [20]:
'''# Count the occurrences of each use case
usecase_counts = laptop['os_brand'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop OS Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()
'''

"# Count the occurrences of each use case\nusecase_counts = laptop['os_brand'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop OS Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()\n"

In [21]:
'''# Count the occurrences of each use case
usecase_counts = laptop['usecases'].value_counts()

# Create the pie chart
plt.figure(figsize=(8, 8))  # Adjust figure size
plt.pie(
    usecase_counts, 
    labels=usecase_counts.index,  # Add labels for each use case
    autopct='%1.1f%%',  # Display percentages with 1 decimal point
    startangle=140,  # Rotate chart for better appearance
    colors=plt.cm.tab10.colors  # Optional: Use a color map
)

# Add a title
plt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')

# Show the pie chart
plt.show()
'''

"# Count the occurrences of each use case\nusecase_counts = laptop['usecases'].value_counts()\n\n# Create the pie chart\nplt.figure(figsize=(8, 8))  # Adjust figure size\nplt.pie(\n    usecase_counts, \n    labels=usecase_counts.index,  # Add labels for each use case\n    autopct='%1.1f%%',  # Display percentages with 1 decimal point\n    startangle=140,  # Rotate chart for better appearance\n    colors=plt.cm.tab10.colors  # Optional: Use a color map\n)\n\n# Add a title\nplt.title('Laptop Usecase Distribution', fontsize=12, weight='bold')\n\n# Show the pie chart\nplt.show()\n"

In [22]:
'''# Count the occurrences of each brand
brand_counts = laptop['usecases'].value_counts()

# Create the bar plot
plt.figure(figsize=(7, 5))  # Optional: Adjust figure size
ax = brand_counts.plot(kind='bar')

# Set labels and title
plt.xlabel('Laptop Usecase', fontsize=10)
plt.ylabel('Number of Laptops', fontsize=10)
plt.title('Laptop Usecase Distribution', fontsize=10)

# Adding annotations for each bar
for i, value in enumerate(brand_counts):
    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)

# Show the plot
plt.tight_layout()
plt.show()'''

"# Count the occurrences of each brand\nbrand_counts = laptop['usecases'].value_counts()\n\n# Create the bar plot\nplt.figure(figsize=(7, 5))  # Optional: Adjust figure size\nax = brand_counts.plot(kind='bar')\n\n# Set labels and title\nplt.xlabel('Laptop Usecase', fontsize=10)\nplt.ylabel('Number of Laptops', fontsize=10)\nplt.title('Laptop Usecase Distribution', fontsize=10)\n\n# Adding annotations for each bar\nfor i, value in enumerate(brand_counts):\n    plt.text(i, value + 0.5, str(value), ha='center', fontsize=13)\n\n# Show the plot\nplt.tight_layout()\nplt.show()"

In [23]:
#laptop['usecases'].value_counts().plot(kind = 'bar')

3. Data Transformation

In [24]:
#Price Conversion
laptop['price_rm'] = laptop['price'] * 0.055   #add one more column that price in RM

In [25]:
laptop[['price', 'price_rm']].head(2)  # Check the original and new price columns

    price  price_rm
0   62990   3464.45
1  161990   8909.45

In [26]:
laptop.drop(columns=['price'], inplace=True) #To drop column

In [27]:
new_csv = laptop[['laptop_id','img_link','name','price_rm','laptop_brand','usecases', 'processor','ram', 'os', 'storage']]

In [28]:
new_csv.shape #reduced dataset, same as laptops

(530, 10)

In [29]:
new_csv.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\3008621298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_csv.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

In [30]:
'''plt.figure(figsize=(10, 5))
sns.histplot(new_csv['price'], kde=True)  # kde=True adds a smooth line
plt.xlabel('Price')  # Label the x-axis as 'Price'
plt.title('Price Distribution of Laptops')
plt.show()'''

"plt.figure(figsize=(10, 5))\nsns.histplot(new_csv['price'], kde=True)  # kde=True adds a smooth line\nplt.xlabel('Price')  # Label the x-axis as 'Price'\nplt.title('Price Distribution of Laptops')\nplt.show()"

In [31]:
'''#display price range
sns.distplot(new_csv['price']);'''

"#display price range\nsns.distplot(new_csv['price']);"

In [32]:
'''#to get min and max laptop price
d = {"min_saleprice": [new_csv["price"].min()] ,
     "max_saleprice": [new_csv["price"].max()]
    }
min_max_price=pd.DataFrame(d)
min_max_price'''

'#to get min and max laptop price\nd = {"min_saleprice": [new_csv["price"].min()] ,\n     "max_saleprice": [new_csv["price"].max()]\n    }\nmin_max_price=pd.DataFrame(d)\nmin_max_price'

In [33]:
'''sns.barplot(x=new_csv['brand'],y=new_csv['price'],color='orange')
plt.xticks(rotation='vertical')
plt.xlabel('Laptop Brand') 
plt.ylabel('Price') 
plt.show()'''

"sns.barplot(x=new_csv['brand'],y=new_csv['price'],color='orange')\nplt.xticks(rotation='vertical')\nplt.xlabel('Laptop Brand') \nplt.ylabel('Price') \nplt.show()"

In [34]:
'''sns.barplot(x = new_csv['use'], y = new_csv['price'])
plt.xticks(rotation='vertical')
plt.show()'''

"sns.barplot(x = new_csv['use'], y = new_csv['price'])\nplt.xticks(rotation='vertical')\nplt.show()"

In [35]:
laptop['name'].value_counts().head(5)

name
DELL Inspiron Core i5 11th Gen          6
APPLE MacBook Air M1                    6
DELL Core i5 11th Gen                   6
ASUS TUF Gaming F15 Core i5 10th Gen    6
HP Pavilion Intel Core i5 12th Gen      5
Name: count, dtype: int64

In [36]:
laptop.head(1)

,laptop_id,name,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases,price_rm
0,0,Lenovo Intel Core i5 11th Gen,Intel Core i5 Processor (11th Gen),16 GB DDR4 RAM,Windows 11 Operating System,512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,15.6,4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional,3464.45

In [37]:
laptop['processor'] = laptop['processor'].apply(lambda x:x.split())
laptop['ram'] = laptop['ram'].apply(lambda x:x.split())
laptop['os'] = laptop['os'].apply(lambda x:x.split())
laptop['use'] = laptop['usecases'].apply(lambda x:x.split())
laptop['display'] = laptop['display'].apply(lambda x:x.split())

In [38]:
laptop.head(1)

,laptop_id,name,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases,price_rm,use
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional,3464.45,[Business/Professional]

In [39]:
laptop.iloc[0]['processor']

['Intel', 'Core', 'i5', 'Processor', '(11th', 'Gen)']

In [40]:
#Tag column creation
#use concatenate to merge different attributes
laptop['tags'] = laptop['processor']+laptop['ram']+laptop['os']+laptop['use']+laptop['display']

In [41]:
laptop.iloc[0]['tags']

['Intel',
 'Core',
 'i5',
 'Processor',
 '(11th',
 'Gen)',
 '16',
 'GB',
 'DDR4',
 'RAM',
 'Windows',
 '11',
 'Operating',
 'System',
 'Business/Professional',
 '15.6']

In [42]:
laptop.shape

(530, 18)

In [43]:
#new = laptop[['laptop_id','img_link','name','price_rm','laptop_brand','use','tags', 'processor','ram', 'os', 'storage']]	

rec_df = laptop[['laptop_id','name','tags', 'img_link', 'price_rm','laptop_brand','usecases', 'processor','ram', 'os', 'storage']] #create a new df and only store 3 specs/attributes

In [44]:
rec_df.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\1666404946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df.rename(columns={'price_rm': 'price', 'laptop_brand': 'brand', 'usecases': 'use'}, inplace=True)

In [45]:
rec_df.shape

(530, 11)

In [46]:
rec_df.head(2)

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen), 16, ...",https://rukminim1.flixcart.com/image/312/312/x...,3464.45,Lenovo,Business/Professional,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,"[AMD, Ryzen, 9, Octa, Core, Processor, 16, GB,...",https://rukminim1.flixcart.com/image/312/312/l...,8909.45,ASUS,Gaming,"[AMD, Ryzen, 9, Octa, Core, Processor]","[16, GB, DDR5, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB SSD

In [47]:
rec_df['tags'] = rec_df['tags'].apply(lambda x:" ".join(x)) #convert tags into paragraph format

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\4088501178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(lambda x:" ".join(x)) #convert tags into paragraph format

In [48]:
rec_df['tags'] = rec_df['tags'].apply(lambda x:x.lower()) #convert tags into small letter

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\2212234119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(lambda x:x.lower()) #convert tags into small letter

In [49]:
rec_df.iloc[0]['tags']

'intel core i5 processor (11th gen) 16 gb ddr4 ram windows 11 operating system business/professional 15.6'

4. TF IDF

In [50]:
#use stem to reduce words in the tags column to their base or root forms. For example, "running" might be reduced to "run."
#import nltk
#from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [51]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))

    return " ".join(l)

In [52]:
rec_df['tags'] = rec_df['tags'].apply(stem)

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\3558667872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['tags'] = rec_df['tags'].apply(stem)

In [53]:
#use vectorizer to vectorise the tags
#from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

#max feature means can consider 5000 frequent word
#stop word will remove word 'in', 'the, etc, word that dont have meaning

In [54]:
vector = cv.fit_transform(rec_df['tags']).toarray()

In [55]:
vector

array([[0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 1, 1, ..., 0, 1, 1],
       ...,
       [0, 0, 2, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1]], dtype=int64)

In [56]:
vector.shape

(530, 83)

In [57]:
'''# Get feature names (unique words) and their counts
feature_names = cv.get_feature_names_out()
word_counts = vector.sum(axis=0)  # Sum the occurrences of each word across all rows

# Convert to a DataFrame for visualization
word_freq_df = pd.DataFrame({'Word': feature_names, 'Count': word_counts.tolist()[0]})
word_freq_df = word_freq_df.sort_values(by='Count', ascending=False)

# Plot the top 15 words
plt.figure(figsize=(12, 6))
plt.bar(word_freq_df['Word'][:15], word_freq_df['Count'][:15], color='orange')
plt.title('Top 15 Words in Tags Column')
plt.xticks(rotation=45)
plt.xlabel('Words')
plt.ylabel('Frequency')
plt.show()'''

"# Get feature names (unique words) and their counts\nfeature_names = cv.get_feature_names_out()\nword_counts = vector.sum(axis=0)  # Sum the occurrences of each word across all rows\n\n# Convert to a DataFrame for visualization\nword_freq_df = pd.DataFrame({'Word': feature_names, 'Count': word_counts.tolist()[0]})\nword_freq_df = word_freq_df.sort_values(by='Count', ascending=False)\n\n# Plot the top 15 words\nplt.figure(figsize=(12, 6))\nplt.bar(word_freq_df['Word'][:15], word_freq_df['Count'][:15], color='orange')\nplt.title('Top 15 Words in Tags Column')\nplt.xticks(rotation=45)\nplt.xlabel('Words')\nplt.ylabel('Frequency')\nplt.show()"

In [58]:
'''subset = vector[:10, :10]

# Create a heatmap
plt.figure(figsize=(10, 6))
sns.heatmap(subset, annot=True, cmap="YlGnBu", xticklabels=feature_names[:10], yticklabels=range(1, 11))
plt.title('Heatmap of TF-IDF Values (First 10 Rows and Columns)')
plt.xlabel('Words')
plt.ylabel('Instances')
plt.show()'''

'subset = vector[:10, :10]\n\n# Create a heatmap\nplt.figure(figsize=(10, 6))\nsns.heatmap(subset, annot=True, cmap="YlGnBu", xticklabels=feature_names[:10], yticklabels=range(1, 11))\nplt.title(\'Heatmap of TF-IDF Values (First 10 Rows and Columns)\')\nplt.xlabel(\'Words\')\nplt.ylabel(\'Instances\')\nplt.show()'

5. COSINE SIMILARITY

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
similarity = cosine_similarity(vector)

In [61]:
similarity #similarity != distance

array([[1.        , 0.5625    , 0.64818122, ..., 0.58925565, 0.5547002 ,
        0.84887469],
       [0.5625    , 1.        , 0.58925565, ..., 0.58925565, 0.69337525,
        0.60633906],
       [0.64818122, 0.58925565, 1.        , ..., 0.66666667, 0.52297636,
        0.80032673],
       ...,
       [0.58925565, 0.58925565, 0.66666667, ..., 1.        , 0.58834841,
        0.68599434],
       [0.5547002 , 0.69337525, 0.52297636, ..., 0.58834841, 1.        ,
        0.53813824],
       [0.84887469, 0.60633906, 0.80032673, ..., 0.68599434, 0.53813824,
        1.        ]])

In [62]:
similarity.shape

(530, 530)

In [63]:
rec_df.shape

(530, 11)

In [64]:
similarity[0][0]

1.0

In [65]:
'''plt.figure(figsize=(5, 5))  # Adjust the size to fit the data
sns.heatmap(similarity[:100, :100], cmap='coolwarm', annot=False, fmt='.2f', linewidths=0.5)

# Set title and labels
plt.title('Cosine Similarity Matrix of Laptops', fontsize=16)
plt.xlabel('Laptop Instances', fontsize=12)
plt.ylabel('Laptop Instances', fontsize=12)

# Show the plot
plt.show()'''

"plt.figure(figsize=(5, 5))  # Adjust the size to fit the data\nsns.heatmap(similarity[:100, :100], cmap='coolwarm', annot=False, fmt='.2f', linewidths=0.5)\n\n# Set title and labels\nplt.title('Cosine Similarity Matrix of Laptops', fontsize=16)\nplt.xlabel('Laptop Instances', fontsize=12)\nplt.ylabel('Laptop Instances', fontsize=12)\n\n# Show the plot\nplt.show()"

In [66]:
'''from sklearn.decomposition import PCA

# Reduce the similarity matrix to 2D
pca = PCA(n_components=2)
reduced_data = pca.fit_transform(similarity)

# Plot the reduced data
plt.scatter(reduced_data[:, 0], reduced_data[:, 1], c='blue', alpha=0.6)
plt.title('2D PCA Visualization of Cosine Similarity')
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.show()
'''

"from sklearn.decomposition import PCA\n\n# Reduce the similarity matrix to 2D\npca = PCA(n_components=2)\nreduced_data = pca.fit_transform(similarity)\n\n# Plot the reduced data\nplt.scatter(reduced_data[:, 0], reduced_data[:, 1], c='blue', alpha=0.6)\nplt.title('2D PCA Visualization of Cosine Similarity')\nplt.xlabel('Principal Component 1')\nplt.ylabel('Principal Component 2')\nplt.show()\n"

6. RECOMMENDING FUNCTION

In [67]:
sorted(list(enumerate(similarity[1])), reverse=True, key= lambda x: x[1]) #distance between item to all items

[(1, 1.0),
 (30, 1.0),
 (260, 1.0),
 (282, 1.0),
 (420, 0.9428090415820631),
 (75, 0.9375),
 (81, 0.9375),
 (145, 0.9375),
 (186, 0.9375),
 (247, 0.9375),
 (516, 0.9375),
 (518, 0.9375),
 (476, 0.9354143466934851),
 (139, 0.9095085938862489),
 (49, 0.9036961141150636),
 (88, 0.9036961141150636),
 (143, 0.9036961141150636),
 (184, 0.8838834764831842),
 (194, 0.8838834764831842),
 (201, 0.8838834764831842),
 (86, 0.875),
 (100, 0.875),
 (204, 0.875),
 (212, 0.875),
 (300, 0.875),
 (320, 0.875),
 (338, 0.875),
 (369, 0.875),
 (394, 0.875),
 (352, 0.868599036215379),
 (31, 0.8488746876271657),
 (87, 0.8488746876271657),
 (115, 0.8488746876271657),
 (275, 0.8488746876271657),
 (52, 0.8391463916782733),
 (55, 0.8391463916782733),
 (169, 0.8391463916782733),
 (187, 0.8391463916782733),
 (202, 0.8391463916782733),
 (223, 0.8391463916782733),
 (226, 0.8391463916782733),
 (316, 0.8391463916782733),
 (353, 0.8391463916782733),
 (383, 0.8391463916782733),
 (405, 0.8391463916782733),
 (417, 0.8391463916782733),
 (109, 0.8125),
 (445, 0.8125),
 (374, 0.802955068546966),
 (167, 0.801783725737273),
 (171, 0.801783725737273),
 (193, 0.801783725737273),
 (315, 0.801783725737273),
 (15, 0.7882407813680824),
 (94, 0.7882407813680824),
 (131, 0.7882407813680824),
 (166, 0.7882407813680824),
 (242, 0.7882407813680824),
 (276, 0.7882407813680824),
 (306, 0.7882407813680824),
 (412, 0.7882407813680824),
 (434, 0.7882407813680824),
 (490, 0.7882407813680824),
 (495, 0.7882407813680824),
 (178, 0.7745966692414831),
 (270, 0.7745966692414831),
 (277, 0.7745966692414831),
 (355, 0.7745966692414831),
 (360, 0.7745966692414831),
 (415, 0.7745966692414831),
 (419, 0.7745966692414831),
 (424, 0.7745966692414831),
 (443, 0.7745966692414831),
 (446, 0.7745966692414831),
 (512, 0.7745966692414831),
 (517, 0.7745966692414831),
 (141, 0.7660323462854264),
 (285, 0.7660323462854264),
 (322, 0.7660323462854264),
 (411, 0.7627127698096903),
 (16, 0.75),
 (21, 0.75),
 (27, 0.75),
 (117, 0.75),
 (127, 0.75),
 (144, 0.75),
 (150, 0.75),
 (177, 0.75),
 (225, 0.75),
 (254, 0.75),
 (293, 0.75),
 (311, 0.75),
 (343, 0.75),
 (351, 0.75),
 (365, 0.75),
 (390, 0.75),
 (61, 0.7456011350793256),
 (8, 0.7276068751089991),
 (39, 0.7276068751089991),
 (66, 0.7276068751089991),
 (85, 0.7276068751089991),
 (104, 0.7276068751089991),
 (105, 0.7276068751089991),
 (129, 0.7276068751089991),
 (135, 0.7276068751089991),
 (137, 0.7276068751089991),
 (138, 0.7276068751089991),
 (154, 0.7276068751089991),
 (172, 0.7276068751089991),
 (174, 0.7276068751089991),
 (180, 0.7276068751089991),
 (182, 0.7276068751089991),
 (190, 0.7276068751089991),
 (216, 0.7276068751089991),
 (228, 0.7276068751089991),
 (240, 0.7276068751089991),
 (241, 0.7276068751089991),
 (278, 0.7276068751089991),
 (279, 0.7276068751089991),
 (281, 0.7276068751089991),
 (291, 0.7276068751089991),
 (327, 0.7276068751089991),
 (368, 0.7276068751089991),
 (402, 0.7276068751089991),
 (407, 0.7276068751089991),
 (414, 0.7276068751089991),
 (423, 0.7276068751089991),
 (427, 0.7276068751089991),
 (432, 0.7276068751089991),
 (451, 0.7276068751089991),
 (499, 0.7276068751089991),
 (507, 0.7276068751089991),
 (63, 0.7100469468046928),
 (165, 0.7100469468046928),
 (211, 0.7100469468046928),
 (395, 0.7071067811865475),
 (528, 0.6933752452815366),
 (74, 0.6882472016116852),
 (344, 0.6882472016116852),
 (456, 0.6882472016116852),
 (26, 0.6875),
 (35, 0.6875),
 (130, 0.6875),
 (140, 0.6875),
 (162, 0.6875),
 (164, 0.6875),
 (207, 0.6875),
 (210, 0.6875),
 (213, 0.6875),
 (221, 0.6875),
 (295, 0.6875),
 (314, 0.6875),
 (332, 0.6875),
 (363, 0.6875),
 (370, 0.6875),
 (376, 0.6875),
 (398, 0.6875),
 (408, 0.6875),
 (450, 0.6875),
 (452, 0.6875),
 (455, 0.6875),
 (473, 0.6875),
 (506, 0.6875),
 (523, 0.6875),
 (524, 0.6875),
 (70, 0.6681531047810608),
 (345, 0.6681531047810608),
 (396, 0.6681531047810608),
 (505, 0.6681531047810608),
 (522, 0.6681531047810608),
 (72, 0.6669729688499159),
 (102, 0.6669729688499159),
 (121, 0.6669729688499159),
 (183, 0.6669729688499159),
 (188, 0.6669729688499159),
 (206, 0.6669729688499159),
 (208, 0.6669729688499159),
 (215, 0.6669729688499159),
 (224, 0.6669729688499159),
 (244, 0.6669729688499159),
 (252, 0.6669729688499159),
 (257, 0.6669729688499159),
 (259, 0.6669729688499159),
 (264, 0.6669729688499159),
 (265, 0.6669729688499159),
 (286, 0.6669729688499159),
 (309, 0.6669729688499159),
 (317, 0.6669729688499159),
 (318, 0.6669729688499159),
 (364, 0.6669729688499159),
 (384, 0.6669729688499159),
 (416, 0.6669729688499159),
 (444, 0.6669729688499159),
 (458, 0.6669729688499159),
 (461, 0.6669729688499159),
 (491, 0.6669729688499159),
 (45, 0.6481812160876685),
 (54, 0.6481812160876685),
 (76, 0.6481812160876685),
 (90, 0.6481812160876685),
 (92, 0.6481812160876685),
 (108, 0.6481812160876685),
 (114, 0.6481812160876685),
 (124, 0.6481812160876685),
 (146, 0.6481812160876685),
 (147, 0.6481812160876685),
 (149, 0.6481812160876685),
 (156, 0.6481812160876685),
 (160, 0.6481812160876685),
 (163, 0.6481812160876685),
 (385, 0.6481812160876685),
 (448, 0.6481812160876685),
 (480, 0.6481812160876685),
 (290, 0.6454972243679026),
 (484, 0.6454972243679026),
 (151, 0.6308932681440448),
 (159, 0.6308932681440448),
 (168, 0.6308932681440448),
 (24, 0.625),
 (44, 0.625),
 (65, 0.625),
 (112, 0.625),
 (197, 0.625),
 (219, 0.625),
 (263, 0.625),
 (274, 0.625),
 (283, 0.625),
 (307, 0.625),
 (321, 0.625),
 (333, 0.625),
 (339, 0.625),
 (373, 0.625),
 (380, 0.625),
 (436, 0.625),
 (449, 0.625),
 (453, 0.625),
 (462, 0.625),
 (463, 0.625),
 (475, 0.625),
 (485, 0.625),
 (488, 0.625),
 (497, 0.625),
 (508, 0.625),
 (509, 0.625),
 (248, 0.6149186938124422),
 (10, 0.6063390625908326),
 (20, 0.6063390625908326),
 (25, 0.6063390625908326),
 (28, 0.6063390625908326),
 (32, 0.6063390625908326),
 (33, 0.6063390625908326),
 (37, 0.6063390625908326),
 (41, 0.6063390625908326),
 (47, 0.6063390625908326),
 (67, 0.6063390625908326),
 (68, 0.6063390625908326),
 (73, 0.6063390625908326),
 (91, 0.6063390625908326),
 (93, 0.6063390625908326),
 (103, 0.6063390625908326),
 (118, 0.6063390625908326),
 (119, 0.6063390625908326),
 (136, 0.6063390625908326),
 (158, 0.6063390625908326),
 (175, 0.6063390625908326),
 (189, 0.6063390625908326),
 (191, 0.6063390625908326),
 (199, 0.6063390625908326),
 (227, 0.6063390625908326),
 (266, 0.6063390625908326),
 (273, 0.6063390625908326),
 (299, 0.6063390625908326),
 (319, 0.6063390625908326),
 (323, 0.6063390625908326),
 (328, 0.6063390625908326),
 (330, 0.6063390625908326),
 (335, 0.6063390625908326),
 (340, 0.6063390625908326),
 (356, 0.6063390625908326),
 (358, 0.6063390625908326),
 (361, 0.6063390625908326),
 (382, 0.6063390625908326),
 (389, 0.6063390625908326),
 (392, 0.6063390625908326),
 (426, 0.6063390625908326),
 (437, 0.6063390625908326),
 (465, 0.6063390625908326),
 (486, 0.6063390625908326),
 (496, 0.6063390625908326),
 (503, 0.6063390625908326),
 (519, 0.6063390625908326),
 (529, 0.6063390625908326),
 (107, 0.6013377943029548),
 (331, 0.6013377943029548),
 (2, 0.5892556509887896),
 (6, 0.5892556509887896),
 (9, 0.5892556509887896),
 (17, 0.5892556509887896),
 (19, 0.5892556509887896),
 (40, 0.5892556509887896),
 (43, 0.5892556509887896),
 (64, 0.5892556509887896),
 (80, 0.5892556509887896),
 (96, 0.5892556509887896),
 (98, 0.5892556509887896),
 (125, 0.5892556509887896),
 (134, 0.5892556509887896),
 (181, 0.5892556509887896),
 (196, 0.5892556509887896),
 (200, 0.5892556509887896),
 (234, 0.5892556509887896),
 (235, 0.5892556509887896),
 (236, 0.5892556509887896),
 (237, 0.5892556509887896),
 (245, 0.5892556509887896),
 (249, 0.5892556509887896),
 (294, 0.5892556509887896),
 (302, 0.5892556509887896),
 (313, 0.5892556509887896),
 (347, 0.5892556509887896),
 (366, 0.5892556509887896),
 (413, 0.5892556509887896),
 (440, 0.5892556509887896),
 (442, 0.5892556509887896),
 (447, 0.5892556509887896),
 (469, 0.5892556509887896),
 (479, 0.5892556509887896),
 (526, 0.5892556509887896),
 (527, 0.5892556509887896),
 (122, 0.5809475019311123),
 (176, 0.5735393346764044),
 (0, 0.5625),
 (5, 0.5625),
 (11, 0.5625),
 (29, 0.5625),
 (128, 0.5625),
 (231, 0.5625),
 (243, 0.5625),
 (261, 0.5625),
 (298, 0.5625),
 (303, 0.5625),
 (372, 0.5625),
 (428, 0.5625),
 (470, 0.5625),
 (483, 0.5625),
 (501, 0.5625),
 (504, 0.5625),
 (284, 0.5590169943749475),
 (379, 0.5547001962252293),
 (36, 0.5457051563317493),
 (50, 0.5457051563317493),
 (57, 0.5457051563317493),
 (60, 0.5457051563317493),
 (62, 0.5457051563317493),
 (69, 0.5457051563317493),
 (82, 0.5457051563317493),
 (83, 0.5457051563317493),
 (97, 0.5457051563317493),
 (113, 0.5457051563317493),
 (153, 0.5457051563317493),
 (157, 0.5457051563317493),
 (205, 0.5457051563317493),
 (217, 0.5457051563317493),
 (218, 0.5457051563317493),
 (222, 0.5457051563317493),
 (232, 0.5457051563317493),
 (238, 0.5457051563317493),
 (239, 0.5457051563317493),
 (246, 0.5457051563317493),
 (256, 0.5457051563317493),
 (288, 0.5457051563317493),
 (292, 0.5457051563317493),
 (325, 0.5457051563317493),
 (326, 0.5457051563317493),
 (329, 0.5457051563317493),
 (334, 0.5457051563317493),
 (336, 0.5457051563317493),
 (381, 0.5457051563317493),
 (386, 0.5457051563317493),
 (387, 0.5457051563317493),
 (388, 0.5457051563317493),
 (403, 0.5457051563317493),
 (404, 0.5457051563317493),
 (464, 0.5457051563317493),
 (467, 0.5457051563317493),
 (471, 0.5457051563317493),
 (474, 0.5457051563317493),
 (478, 0.5457051563317493),
 (482, 0.5457051563317493),
 (520, 0.5457051563317493),
 (312, 0.5345224838248487),
 (14, 0.5303300858899107),
 (22, 0.5303300858899107),
 (46, 0.5303300858899107),
 (152, 0.5303300858899107),
 (250, 0.5303300858899107),
 (258, 0.5303300858899107),
 (280, 0.5303300858899107),
 (287, 0.5303300858899107),
 (296, 0.5303300858899107),
 (304, 0.5303300858899107),
 (341, 0.5303300858899107),
 (346, 0.5303300858899107),
 (367, 0.5303300858899107),
 (406, 0.5303300858899107),
 (410, 0.5303300858899107),
 (418, 0.5303300858899107),
 (422, 0.5303300858899107),
 (425, 0.5303300858899107),
 (430, 0.5303300858899107),
 (438, 0.5303300858899107),
 (457, 0.5303300858899107),
 (502, 0.5303300858899107),
 (514, 0.5303300858899107),
 (525, 0.5303300858899107),
 (7, 0.5163977794943221),
 (12, 0.5163977794943221),
 (42, 0.5163977794943221),
 (51, 0.5163977794943221),
 (56, 0.5163977794943221),
 (71, 0.5163977794943221),
 (120, 0.5163977794943221),
 (214, 0.5163977794943221),
 (308, 0.5163977794943221),
 (357, 0.5163977794943221),
 (362, 0.5163977794943221),
 (400, 0.5163977794943221),
 (439, 0.5163977794943221),
 (459, 0.5163977794943221),
 (511, 0.5163977794943221),
 (269, 0.516185401208764),
 (433, 0.5051814855409226),
 (84, 0.5),
 (101, 0.5),
 (111, 0.5),
 (123, 0.5),
 (185, 0.5),
 (230, 0.5),
 (262, 0.5),
 (272, 0.5),
 (350, 0.5),
 (421, 0.5),
 (429, 0.5),
 (95, 0.48507125007266605),
 (251, 0.48507125007266605),
 (324, 0.48507125007266605),
 (337, 0.48507125007266605),
 (342, 0.48507125007266605),
 (348, 0.48507125007266605),
 (349, 0.48507125007266605),
 (354, 0.48507125007266605),
 (371, 0.48507125007266605),
 (397, 0.48507125007266605),
 (401, 0.48507125007266605),
 (409, 0.48507125007266605),
 (431, 0.48507125007266605),
 (435, 0.48507125007266605),
 (441, 0.48507125007266605),
 (460, 0.48507125007266605),
 (472, 0.48507125007266605),
 (487, 0.48507125007266605),
 (489, 0.48507125007266605),
 (510, 0.48507125007266605),
 (513, 0.48507125007266605),
 (515, 0.48507125007266605),
 (13, 0.47140452079103173),
 (38, 0.47140452079103173),
 (126, 0.47140452079103173),
 (132, 0.47140452079103173),
 (192, 0.47140452079103173),
 (267, 0.47140452079103173),
 (268, 0.47140452079103173),
 (289, 0.47140452079103173),
 (301, 0.47140452079103173),
 (481, 0.47140452079103173),
 (494, 0.47140452079103173),
 (310, 0.45883146774112354),
 (23, 0.45184805705753184),
 (99, 0.45184805705753184),
 (233, 0.45184805705753184),
 (359, 0.45184805705753184),
 (399, 0.45184805705753184),
 (466, 0.45184805705753184),
 (477, 0.45184805705753184),
 (492, 0.45184805705753184),
 (493, 0.45184805705753184),
 (498, 0.45184805705753184),
 (500, 0.45184805705753184),
 (48, 0.4375),
 (116, 0.4375),
 (173, 0.4375),
 (255, 0.4375),
 (3, 0.43301270189221935),
 (209, 0.43301270189221935),
 (58, 0.4160251471689219),
 (59, 0.4160251471689219),
 (391, 0.4160251471689219),
 (393, 0.4160251471689219),
 (468, 0.4160251471689219),
 (521, 0.4160251471689219),
 (34, 0.40089186286863654),
 (305, 0.375),
 (179, 0.3638034375544995),
 (229, 0.3638034375544995),
 (271, 0.3638034375544995),
 (89, 0.34668762264076824),
 (106, 0.34668762264076824),
 (148, 0.34668762264076824),
 (161, 0.34668762264076824),
 (377, 0.34668762264076824),
 (378, 0.34668762264076824),
 (110, 0.32274861218395134),
 (133, 0.32274861218395134),
 (253, 0.32274861218395134),
 (297, 0.32274861218395134),
 (454, 0.32274861218395134),
 (4, 0.2886751345948129),
 (18, 0.2886751345948129),
 (53, 0.2886751345948129),
 (155, 0.2886751345948129),
 (170, 0.2886751345948129),
 (198, 0.2886751345948129),
 (203, 0.2886751345948129),
 (220, 0.2886751345948129),
 (375, 0.2886751345948129),
 (77, 0.2773500981126146),
 (78, 0.2773500981126146),
 (79, 0.2773500981126146),
 (142, 0.2773500981126146),
 (195, 0.2773500981126146)]

In [68]:
rec_df[rec_df['name'] == 'MSI GF63 Thin Core i7 9th Gen'] #we get the index for the specific laptop

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
724,724,MSI GF63 Thin Core i7 9th Gen,intel core i7 processor (9th gen) 8 gb ddr4 ra...,https://rukminim1.flixcart.com/image/312/312/k...,3684.45,MSI,Gaming,"[Intel, Core, i7, Processor, (9th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 10, Operating, System]",512 GB SSD

In [69]:
rec_df[rec_df['name'] == 'MSI GF63 Thin Core i7 9th Gen'].index[0] #we get the index for the specific laptop

724

In [70]:
rec_df.head(4)

,laptop_id,name,tags,img_link,price,brand,use,processor,ram,os,storage
0,0,Lenovo Intel Core i5 11th Gen,intel core i5 processor (11th gen) 16 gb ddr4 ...,https://rukminim1.flixcart.com/image/312/312/x...,3464.45,Lenovo,Business/Professional,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD
1,1,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,amd ryzen 9 octa core processor 16 gb ddr5 ram...,https://rukminim1.flixcart.com/image/312/312/l...,8909.45,ASUS,Gaming,"[AMD, Ryzen, 9, Octa, Core, Processor]","[16, GB, DDR5, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB SSD
2,2,ASUS VivoBook 15 (2022) Core i3 10th Gen,intel core i3 processor (10th gen) 8 gb ddr4 r...,https://rukminim1.flixcart.com/image/312/312/x...,1869.45,ASUS,Home/Everyday use,"[Intel, Core, i3, Processor, (10th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 11, Operating, System]",512 GB SSD
3,3,Lenovo Athlon Dual Core,amd athlon dual core processor 4 gb ddr4 ram d...,https://rukminim1.flixcart.com/image/312/312/x...,1044.45,Lenovo,Budget Friendly,"[AMD, Athlon, Dual, Core, Processor]","[4, GB, DDR4, RAM]","[DOS, Operating, System]",256 GB SSD

In [71]:
''' From github
def recommend(use):
    index = rec_df[rec_df['name'] == use].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    printed_names = set()
    #display top 5
    for i in distances[1:6]: #iterates 1 to 5, excluding 6
        row_index = i[0]
        name = rec_df.iloc[row_index]['name']
        if name not in printed_names:
            printed_names.add(name)
            print(name)
'''

" From github\ndef recommend(use):\n    index = rec_df[rec_df['name'] == use].index[0]\n    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])\n    printed_names = set()\n    #display top 5\n    for i in distances[1:6]: #iterates 1 to 5, excluding 6\n        row_index = i[0]\n        name = rec_df.iloc[row_index]['name']\n        if name not in printed_names:\n            printed_names.add(name)\n            print(name)\n"

In [72]:
#create Recommend Function 1 (CHOOSE THIS FOR STREAMLIT)
'''
def recommend(x):
    index = rec_df[rec_df['name'] == x].index[0]  # Find the index of the input laptop
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda x: x[1])  # Sort the similarities
    print(f"Laptops similar to '{x}':")
    for i in distance[1:6]:
        laptop = rec_df.iloc[i[0]]  #get the laptop information
        similarity_score = i[1]  #get the similarity score
        print(f"{laptop['name']} | Similarity Score: {similarity_score:.2f} | Image Link: {laptop['img_link']}")
'''

'\ndef recommend(x):\n    index = rec_df[rec_df[\'name\'] == x].index[0]  # Find the index of the input laptop\n    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda x: x[1])  # Sort the similarities\n    print(f"Laptops similar to \'{x}\':")\n    for i in distance[1:6]:\n        laptop = rec_df.iloc[i[0]]  #get the laptop information\n        similarity_score = i[1]  #get the similarity score\n        print(f"{laptop[\'name\']} | Similarity Score: {similarity_score:.2f} | Image Link: {laptop[\'img_link\']}")\n'

In [73]:
#Recommend Function 2
rec_df.reset_index(drop=True, inplace=True) # Reset the index to align with the similarity matrix
def recommend(x):
    # Check if the input exists in the database
    if x not in rec_df['name'].values:
        print(f"Laptop '{x}' is not found in the database.")
        return

    # Get the index of the laptop model of the input
    index = rec_df[rec_df['name'] == x].index[0]

    # Ensure the index is within bounds
    if index >= len(similarity):
        print("Error: The index is out of bounds for the similarity matrix.")
        return

    # Sort laptops by similarity, retrieving similarity scores
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    printed_names = set()
    print(f"Laptops similar to '{x}':")

    # Display recommendations
    for i in distances[1:]:
        name = rec_df.iloc[i[0]]['name']
        similarity_score = i[1]

        # Check to ensure that the input is excluded as recommendations
        if name != x and name not in printed_names:
            printed_names.add(name)
            print(f"{name} (Similarity Score: {similarity_score:.2f})")
        if len(printed_names) == 5:
            break

7. TESTING

In [74]:
recommend('Lenovo Intel Core i5 11th Gen')

Laptops similar to 'Lenovo Intel Core i5 11th Gen':
RedmiBook Pro Core i5 11th Gen (Similarity Score: 0.97)
ASUS Vivobook 15 Touch Core i5 11th Gen (Similarity Score: 0.97)
Lenovo IdeaPad Core i5 11th Gen (Similarity Score: 0.97)
DELL Core i5 11th Gen (Similarity Score: 0.97)
ASUS VivoBook K15 OLED (2022) Core i5 11th Gen (Similarity Score: 0.94)

In [75]:
laptop[laptop['name'] == 'Lenovo Intel Core i5 11th Gen']

,laptop_id,name,processor,ram,os,storage,img_link,display,rating,no_of_ratings,no_of_reviews,laptop_brand,os_brand,processor_brand,usecases,price_rm,use,tags
0,0,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional,3464.45,[Business/Professional],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."
29,29,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],4.5,14.0,1.0,Lenovo,Windows,Intel,Business/Professional,2908.95,[Business/Professional],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."
182,182,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[8, GB, DDR4, RAM]","[64, bit, Windows, 11, Operating, System]",1 TB HDD|256 GB SSD,https://rukminim1.flixcart.com/image/312/312/k...,[15.6],4.4,395.0,43.0,Lenovo,Windows,Intel,Student/Education,3574.45,[Student/Education],"[Intel, Core, i5, Processor, (11th, Gen), 8, G..."
697,697,Lenovo Intel Core i5 11th Gen,"[Intel, Core, i5, Processor, (11th, Gen)]","[16, GB, DDR4, RAM]","[Windows, 11, Operating, System]",512 GB SSD,https://rukminim1.flixcart.com/image/312/312/x...,[15.6],4.1,8.0,0.0,Lenovo,Windows,Intel,Business/Professional,3755.95,[Business/Professional],"[Intel, Core, i5, Processor, (11th, Gen), 16, ..."

In [76]:
rec_df['ram'] = new_csv['ram']
rec_df['processor'] = new_csv['processor']
rec_df['os'] = new_csv['os']

C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\1203269833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['ram'] = new_csv['ram']
C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\1203269833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['processor'] = new_csv['processor']
C:\Users\aiman\AppData\Local\Temp\ipykernel_2340\1203269833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec_df['os'] = new_csv['os']

In [77]:
import pickle

pickle.dump(rec_df, open('model/laptop_list.pkl', 'wb'))
pickle.dump(similarity, open('model/similarity.pkl', 'wb'))
new_csv.to_csv('model/update_laptop.csv', sep=',', index=False, encoding='utf-8')
pickle.dump(laptop, open('model/analysis.pkl', 'wb'))

In [80]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Define and fit the vectorizer on the dataset
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(rec_df['tags'])  # Fit on the 'tags' column

# Simulating a test dataset by sampling from the existing dataset
def simulate_test_data(df, sample_size=10):
    return df.sample(n=sample_size, random_state=42)

# Function to evaluate recommendations using Precision@K
def precision_at_k(recommendations, relevant_items, k=5):
    relevant_at_k = [item for item in recommendations[:k] if item in relevant_items]
    return len(relevant_at_k) / k

# Simulating test queries
test_data = simulate_test_data(rec_df, sample_size=10)  # Assuming 'rec_df' is the dataset DataFrame

precision_scores = []
for index, row in test_data.iterrows():
    query = row['tags']  # Assuming 'tags' column exists in the dataset
    actual_item = row['name']  # Assuming 'name' column exists
    
    # Get recommendations for the query
    query_vector = vectorizer.transform([query])
    cosine_similarities = cosine_similarity(query_vector, tfidf_matrix).flatten()
    recommended_indices = cosine_similarities.argsort()[-10:][::-1]
    recommended_items = rec_df.iloc[recommended_indices]['name'].tolist()
    
    # Evaluate precision at K (e.g., K=5)
    precision = precision_at_k(recommended_items, [actual_item], k=5)
    precision_scores.append(precision)

# Displaying the average Precision@K
average_precision = sum(precision_scores) / len(precision_scores)
print(f"Average Precision@5: {average_precision:.2f}")

Average Precision@5: 0.20